@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icons{
    animation: translateY 0.8s infinite alternate;
  }


@keyframes translateY {
  from{
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

#home .line {
  border-right: 0.2rem solid #408bd6;
  white-space: nowrap;
  overflow: hidden;
}


#home .typing {
  animation: line-typing 500ms steps(40) infinite normal,
      typing 2s steps(40) 1.4s normal backwards;
}

@keyframes typing {
  from {
      width: 0;
  }

  to {
      width: 27.5rem;
  }
}

@keyframes line-typing {
  from {
      border-right-color: #408bd6;
  }

  to {
      border-right-color: transparent;
  }
}


@keyframes typing {
  from {
      width: 0;
  }

  to {
      width: 23.5rem;
  }
}

@media (max-width: 480px) {
  @keyframes typing {
      from {
          width: 0;
      }
  
      to {
          width: 15rem;
      }
  }
}